<div id="userProfile_view" ng-controller="UserprofileCtrl">
    <div ng-if="complete == false">
        <form role="form" ng-if="authenticated" name="userProfileForm" ng-submit="updateProfile(userProfileForm, model)" novalidate>
            <div class="form-group">
                <label for="id_username">Username</label>
                <input name="username" id="id_username" class="form-control" type="text" ng-model="model.username" placeholder="Username" />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
            <div class="form-group">
                <label for="id_name">Name</label>
                <input name="name" id="id_name" class="form-control" type="text" ng-model="model.name" placeholder="Name" />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.name">{{error}}</div>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input name="email" id="id_email" class="form-control" type="email" ng-model="model.email" placeholder="Email" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
            <button type="submit" ng-show="authenticated" class="btn btn-primary">Update Profile</button>
        </form>
        <div class="alert alert-warning" ng-if="authenticated == false">You need to be logged in to do this.</div>
    </div>
    <div ng-if="complete == true">
        <div class="alert alert-success">You have updated your profile.</div>
    </div>
</div>
