# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite3
*.sqlite

#migrations
migrations

# Logs:
*.log

# Environment variables
credentials.py
local.env

# Django stuff:
*.mo
*.pot

# Eclipse
.project
.pydevproject
.settings

# Pycharm files
.idea/*
.idea

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Rope
.ropeproject

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Virtual env
venv

# Static Root
static-www

# Frontend
node_modules
dist
.tmp
.sass-cache
app/bower_components
