<nav id="navbar-site-id" class="navbar navbar-default" ng-controller="navbarController" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Brewabl</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Recipes</a></li>
                <li><a href="#/">Brew Day</a></li>
                <li><a href="#/calculators">Calculators</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-bachinit">
                <li><a ng-show="authenticated" href="javascript:;" ng-click="clickLogout()">Logout</a></li>
                <li><a ng-hide="authenticated" href="javascript:;" ng-click="clickRegister()">Sign Up</a></li>
                <li><a ng-hide="authenticated" href="javascript:;" ng-click="clickSignin()">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
