<nav id="navbar-site-id" class="navbar navbar-default" ng-controller="navbarController" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">BREWABL</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">RECIPES</a></li>
                <li><a href="#/">CALCULATORS</a></li>
                <li><a href="#/">BREW LOGS</a></li>
                <li><a href="#/">ABOUT</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="color:#ffffff;">
                <li><a ng-show="authenticated" >Name</a></li>
                <li><a ng-hide="authenticated" href="#/register">REGISTER</a></li>
                <li><a ng-hide="authenticated" href="#/login">LOGIN</a></li>
                <li><a ng-show="authenticated" href="#/logout">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
